<footer class="footer_wrapper">
    <div class="container">
        <div class="footer_wrapper_info">
            <div class="index_module">
                <div class="index_module--top">
                    <a href="/">
                        <img src="/img/logo.jpg" alt="HT" class="footer_img">
                    </a>
                    <p class="footer_logo_text">Изучите программирование для работы</p>
                </div>
                <ul class="footer_list">
                    <li>
                        Номер телефон:
                        <a href="tel:+79631214030">+79631214030</a>
                    </li>
                    <li>
                        Почта:
                        <a href="mailto:vn.tomhoang.99@gmail.com">vn.tomhoang.99@gmail.com</a>
                    </li>
                    <li>
                        Адрес: 420015, Российская Федерация, Республика Татарстан, Казань, ул.Карла Маркса, 68,
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_wrapper_web">
            <p class="footer_copyright">© 2022 HB - Платформа обучения программированию</p>
            
            <div class="footer_web_bottom">
                <a href="https://www.youtube.com/channel/UCvuY904el7JvBlPbdqbfguw" class="footer_social-item" title="F8 над youtube">
                    <img src="/img/youtube-brands.svg" alt="svg" class="footer_web_icon footer_youtube">
                </a>
                <a href="https://www.facebook.com/HB.programming" class="footer_social-item" title="HB над facebook">
                    <img src="/img/facebook-brands.svg" alt="svg" class="footer_web_icon footer_facebook">
                </a>
                <a href="https://t.me/HoangBuibot" class="footer_social-item" title="HB над telegram">
                    <img src="/img/telegram-brands.svg" alt="svg" class="footer_web_icon footer_telegram">
                </a>
            </div>
        </div>
    </div>
</footer>