<div class="mt-4 mb-4">
    <div class="container">
        <div class="text-center justify-content-center mt-2 mb-5">
            <h2>Онлайн программы обучения</h2>
            <p>
                Предлагаем вашему вниманию интенсивные курсы программирования, где в течении нескольких месяцев вы
                быстро сможете освоить необходимую вам технологию. На сайте представлены как большие программы обучения,
                так и маленькие курсы по программированию
            </p>
            <div class=" d-flex justify-content-center img-es">
                <img src="https://i1.wp.com/antitreningi.ru/info/wp-content/uploads/2021/06/distancionnoe-obuchenie.png?w=1000&ssl=1"
                    alt="">
            </div>
        </div>

        <div class="mt-2 mb-5 ml-3">
            <h2 class="ml-2">Учебный маршрут</h2>
            <p>
                Чтобы хорошо начать, вам следует сосредоточиться на одном пути обучения. Например: Чтобы пойти работать
                на должность «Front-end разработчик», вам нужно ориентироваться на маршрут «Front-end».
            </p>
        </div>

        <div class=" mt-2 mb-5 ml-3 mr-3">
            <div class="fe mt-2 mb-2">
                <div class="d-flex mt-2 ml-2 mb-2 mr-2">
                    <div class="mr-2 info-e">
                        <h2>Front-end</h2>
                        <p>Front-end программисты — это люди, которые создают интерфейсы веб-сайтов. В этом разделе F8
                            расскажет вам, как стать фронтенд-разработчиком.</p>
                    </div>
                    <div class="img-e">
                        <img src="https://files.fullstack.edu.vn/f8-prod/learning-paths/2/61a0439062b82.png" alt="png"
                            class="img-e-icon">
                    </div>
                </div>
            </div>
            <div class="be mt-2 mb-2">
                <div class="d-flex mt-2 ml-2 mb-2 mr-2">
                    <div class="mr-2 info-e">
                        <h2>Back-end</h2>
                        <p>В отличие от Front-end, Back-end программисты — это люди, которые работают с данными, работа
                            часто более логична. Мы узнаем больше о пути обучения Back-end.</p>
                    </div>
                    <div class="img-e">
                        <img src="https://files.fullstack.edu.vn/f8-prod/learning-paths/3/61a0439cc779b.png" alt="png"
                            class="img-e-icon">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>